.page-header {
  margin-top: 80px;
}

.page-header .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .nav .nav-list .nav-list__item {
  list-style: none;
}

.page-header .nav .nav-list .nav-list__item .nav-list__link {
  font-family: Prototype;
  font-size: 19px;
  color: #ffad00;
  text-decoration: none;
}

.page-header .nav .nav-list .nav-list__item .nav-list__link::after {
  content: '';
  border-bottom: 1px solid red;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  border-top: 2px solid #000;
}

.page-header .nav .nav-list .nav-list__item .nav-list__link:hover {
  color: white;
}

.page-header .nav .sub-menu {
  position: absolute;
  display: none;
  margin-left: 10px;
  margin-top: 0px;
}

.page-header .nav .sub-menu .sub-menu__item {
  margin: 5px 0px;
}

.page-header .nav .sub-menu .sub-menu__item .sub-menu__link {
  color: #ffad00;
  font-size: 19px;
}

.page-header .nav .sub-menu_active:hover .sub-menu {
  display: block;
}

.page-header .nav .button-menu__item {
  display: none;
}

@media (max-width: 480px) {
  .page-header .nav .nav-list li > a {
    display: none;
  }
  .page-header .nav .button-menu__item {
    display: block;
  }
  .page-header .nav .nav-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-header .nav .button-menu,
  .page-header .nav .nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about-me {
  text-align: center;
  margin-top: 800px;
}

.about-me .about-me__title {
  margin-bottom: 20px;
  font-weight: normal;
  color: #ffad00;
  font-size: 25px;
}

.about-me .about-me__text {
  color: white;
  letter-spacing: 1px;
  line-height: 1.4;
  font-size: 20px;
}

.advantages {
  margin-top: 150px;
  text-align: center;
}

.advantages .advantages__title {
  margin-bottom: 25px;
  font-weight: normal;
  color: #ffad00;
  font-size: 25px;
}

.advantages .advantages-item_description {
  color: white;
  font-weight: normal;
  font-size: 21px;
  margin-top: 10px;
}

.advantages .advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.speed-arts {
  text-align: center;
  margin-top: 150px;
}

.speed-arts .speed-arts__title {
  margin-bottom: 20px;
  font-weight: normal;
  color: #ffad00;
  font-size: 25px;
}

.speed-arts .speed-arts__iframe {
  width: 100%;
  height: 700px;
}

@font-face {
  font-family: 'Prototype';
  src: url("../fonts/Prototype.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PrototypeRUSbyDaymarius';
  src: url("../fonts/PrototypeRUSbyDaymarius.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 1170px;
  margin: auto;
  background-image: url(../../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Prototype;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  body {
    max-width: 480px;
    margin: auto;
    background-image: url(../../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
