body{
    width: 1170px;
    margin: auto;
    font-family: Prototype;
}
.body-index{
    background-image: url(../../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.body-portfolio{
    background-image: url(../../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
