@font-face {
  font-family: 'Prototype';
  src: url('../fonts/Prototype.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PrototypeRUSbyDaymarius';
  src: url('../fonts/PrototypeRUSbyDaymarius.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
