.about-me{
    text-align: center;
    margin-top: 800px;
    .about-me__title{
        margin-bottom: 20px;
        font-weight: normal;
        color: #ffad00;
        font-size: 25px;
    }
    .about-me__text{
        color: white;
        letter-spacing: 1px;
        line-height: 1.4;
        font-size: 20px;
    }
}